{{extend 'layout.html'}}
    <!-- Tab Headers-->
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#ingresar" data-toggle="tab">Generar Guardia</a></li>
      <li><a href="#consultar" data-toggle="tab">Consultar Guardias</a></li>
    </ul>
    <!--Tab Contents-->
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="ingresar">
        {{=guardias}}
      </div>
      <div class="tab-pane fade" id="consultar">
          {{=cguardias}}
      </div>
<script>
  $('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
    })

</script>
